<div class="toolbar" role="banner">
  <span class="blue-icon"></span>
  <span class="nav-item">OVERVIEW</span>
  <span class="nav-item">WALLETS</span>
  <span class="nav-item">PAYBILLS</span>
  <span class="nav-item">CONTACTS</span>
  <span class="nav-item">TRANSACTIONS</span>
  <div class="spacer"></div>
  <mat-icon matBadge="22" matBadgePosition="above after">add_alert</mat-icon>
  <mat-icon matBadge="12" matBadgePosition="above after">forum</mat-icon>
  <i class="material-icons md-dark">
    settings_applications
  </i>


</div>