
  .content {
    display: flex;
    margin: 30px auto;
    padding: 0 16px;
    max-width: 1100px;
    flex-direction: column;
    font-family: -apple-system,  'Helvetica Neue', sans-serif;
  }
.welcome-lead{
  
  font-weight: 300 !important;
  font-size: 2em;
  letter-spacing: 1px;
  color: #767777;
}
.content-main{
  margin-top: 30px;
  display: flex;
}
.content-aside{
  display: inline-block;
  flex-grow: 0;
  width: 320px;
}
.content-table{
  display: inline-block;
  flex-grow: 3000;
  min-width: 570px;
  margin-right: 30px;
}
h4{
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #5b5d5d;
}
.divider{
  background-color: #e2e2e2; 
  width: 100%;
  height: 1px;
}
.divider::before {
  content: "";
    width: 20px;
    border-top: solid 3px #1975d2;
    position: absolute;
    display: inline;
    z-index: 1;
}
::ng-deep .mat-progress-bar-fill::after{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,234,95,1) 0%, rgba(51,137,234,1) 100%);
  border-radius: 15px !important;
}
.mat-progress-bar {
  flex-grow: 100;
  width: 200px;
  display: inline-block;
  height: 20px;
  border-radius: 50px !important;
  border: 4px solid #d4d6da;

}
::ng-deep .mat-progress-bar-buffer {
  background-color: #d4d6da !important;
  padding: 5px;
}
.progress{
  width: 100%;
  display: flex;
  margin: 20px 00;
}
.percentage{
  min-width: 20px;
  font-size: 24px;
  flex-grow: 0;
  font-weight: 300;
  margin: 0 10px 0 0;
  display: inline-block;
  align-self: flex-end;
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card, .mat-button {
    color:#5b5d5d;
    border-radius: 4px;
    border: 1px solid #1976d2;
    background-color: #fafafa;
    height: 40px;
    width: 100%;
    margin: 0 0px 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

    .material-icons{
      flex-flow: row;
    }
    .card-content{
      margin-bottom: 5px;

      span{
        font-weight: 400;
        font-size: 13px;
      }
      h5{
        margin-bottom: 0px;
      }
    }
    .material-icons{
        color: #1976d2;
    }
  }
.mat-button{
  font-weight: 400;
  font-size: 13px;
  justify-content: center;
  padding: 0px;
}

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

.quick-links{
  margin-top: 30px;
}
.links{
  margin-top: 20px;
}
.refer-section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  .card{
    height:  100px;
    background-color: #fcedbe;
    border: none;
  }
}
.mat-table{
  background: #fff;
  border-radius: 30px;
  margin-top: 30px;
  font-weight: 300;
}
.mat-cell, .mat-header-cell{
  color: #777a78;
  border-right: 1px solid #f2f4f8;
}
.mat-row{
  border-top: 3px solid #f2f4f8;
}
.mat-header-row {
    background: #f2f4f8;
    font-weight: 500;
}
.mat-header-cell{
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
    color: #5b5d5d !important;

}

.mat-column-amount{
  color:#50bb46;
  font-weight: bold;
  margin-left: auto;
  justify-content: flex-end;
display: flex;

.mat-header-cell{
  color: #5b5d5d;
}
}
.time{
  padding-left: 10px;
 color: #bebdc0;
 font-weight: 100;
 font-size: 12px;
}
.dot{
  width:8px;
  border-radius: 10px;
  height: 8px;
  margin-right: 4px;
  background-color: #50bb46;
}
.mat-column-account,.mat-column-date{
  display: flex;
  justify-content: center;
}
.initials{
  background: #f8bc34;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bolder;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}